<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>

<link href="../static/css/bootstrap.min.css" rel="stylesheet">

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

<!-- INCLUDES -->
<link rel="stylesheet" href="../static/css/bootstrap-table-expandable.css">
<script src="../static/js/bootstrap-table-expandable.js"></script>
<script >


function loadDoc(url, cFunction) {
  var xhttp;
  xhttp=new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      cFunction(this);
    }
  };
  xhttp.open("GET", url, true);
  xhttp.send();
}
function myFunction(xhttp) {
  // document.getElementById("demo").innerHTML =
  // xhttp.responseText;
  alert("Status: " + xhttp.responseText);
}

</script>
</head>
<body>
    <div class="container">
        <h1>样本值班</h1>



        <h2>样本信息</h2>
        <form method="post">  <!-- 指定提交方法為 POST -->
                <label for="date">值班日期</label>
                <input type="text" name="date" id="date"><br>  <!-- 文字輸入框 -->
                <label for="name">名字   </label>
                <input type="text" name="name" id="name"><br>  <!-- 文字輸入框 -->
                <label for="flow_cell">flow_cell</label>
                <input type="text" name="flow_cell" id="flow_cell"><br>  <!-- 文字輸入框 -->
                <input type="submit" name="submit" value="建立文件夹">  <!-- 提交按鈕 -->
        </form>
                <p>样本信息    : 值班时间 : {{date}}  </p>
                <p>值班人     : ***&nbsp;&nbsp;{{name}}***</p>
                <p>flow_cell : ***&nbsp;&nbsp;{{flow_cell}}***</p>
                <p>文件存在或者失败 : ***&nbsp;&nbsp;{{types}}***</p>
        <form action="/" method=post enctype=multipart/form-data>
                <p><input type=file name=file>
                <input type=submit value=Upload>
        </form>
        <p>文件存放路径 :  {{filename}}&nbsp;&nbsp;  </p>
        <h2>详细信息</h2>
	</div>
<div class="container">
	<table class="table table-hover table-expandable">
		<thead>
			<tr>
                <th>Panel</th>
                <th>sample_PID</th>
                <th>sample_T</th>
                <th>sample_N</th>

                <th>ags</th>
                <th>arg</th>
                <th>Wait|down</th>
                <th>check</th>
            </tr>
		</thead>
		<tbody>

{% for _, row in a.iterrows() %}

    <tr >
        <td >{{ row["panel"] }}</td>
        <td >{{ row["sample_PID"] }}</td>
        <td>{{ row["sample_T"] }}</td>
        <td>{{ row["sample_N"] }}</td>

        {% if "Failed" in  row["ags"] %}
            <td bgcolor="red">{{ row["ags"] }}</td>
        {% else %}
            <td >{{ row["ags"] }}</td>
        {% endif%}

        {% if "Failed" in row["arg"] %}
            <td bgcolor="red">{{ row["arg"] }}</td>
        {% else %}
            <td >{{ row["arg"] }}</td>
        {% endif%}

        {% if "Failed" in  row["waitordown"] %}
            <td bgcolor="red">{{ row["waitordown"] }}</td>
        {% elif "Running" in  row["waitordown"] %}
            <td bgcolor="orange">{{ row["waitordown"] }}</td>
        {% else %}
            <td >{{ row["waitordown"] }}</td>
        {% endif%}
        <td >{{ row["check"] }}</td>

	</tr>
	<tr>

        <td >
                    <h4>ags状态</h4>
					<ul>
                        {% for i ,e in df_ags[df_ags["check_sample"]==row["check"]].iterrows() %}
                                {% if e["STATUS"]  is none %}
                                    <li style="background:orange;color:red;">{{ e["NAME"] }}--{{e["STATUS"]}}--{{e["AGE"]}}--{{e["DURATION"]}}<button type="button" onclick='loadDoc("http://172.16.36.1:5555/delags/{{ e.NAME }}{{ row.check }}", myFunction)'>ags删除</button></li>

                                {% elif "Failed" in e["STATUS"] %}
                                    <li style="background:orange;color:red;">{{ e["NAME"] }}--{{e["STATUS"]}}--{{e["AGE"]}}--{{e["DURATION"]}}<button type="button" onclick='loadDoc("http://172.16.36.1:5555/delags/{{ e.NAME }}{{ row.check }}", myFunction)'>ags删除</button></li>
                                {% else %}
                                    <li>{{ e["NAME"] }}--{{e["STATUS"]}}--{{e["AGE"]}}--{{e["DURATION"]}}<button type="button" onclick='loadDoc("http://172.16.36.1:5555/delags/{{ e.NAME }}{{ row.check }}", myFunction)'>ags删除</button></li>
                                {% endif%}


                        {% endfor %}
					</ul>
		</td>

        <td>
                    <h4>arg状态</h4>
		            <ul>

						{% for i ,e in df_arg[df_arg["check_sample"]==row["check"]].iterrows() %}
                                {% if e["STATUS"]  is none %}
                                    <li style="background:orange;color:red;">{{ e["NAME"] }}--{{e["STATUS"]}}--{{e["AGE"]}}--{{e["DURATION"]}}<button type="button" onclick='loadDoc("http://172.16.36.1:5555/delarg/{{ e.NAME }}{{ row.check }}", myFunction)'>arg删除</button></li>
                                {% elif "Failed" in e["STATUS"] %}
                                    <li style="background:orange;color:red;">{{ e["NAME"] }}--{{e["STATUS"]}}--{{e["AGE"]}}--{{e["DURATION"]}}<button type="button" onclick='loadDoc("http://172.16.36.1:5555/delarg/{{ e.NAME }}{{ row.check }}", myFunction)'>arg删除</button></li>
                                {% else %}
                                    <li>{{ e["NAME"] }}--{{e["STATUS"]}}--{{e["AGE"]}}--{{e["DURATION"]}}<button type="button" onclick='loadDoc("http://172.16.36.1:5555/delarg/{{ e.NAME }}{{ row.check }}", myFunction)'>arg删除</button></li>
                                {% endif%}
                        {% endfor %}
					</ul>
		</td>
        <td>
                    <h4>arg Wait|down状态</h4>
            		<ul>

                        {% for i ,e in df_other[df_other["check_sample"]==row["check"]].iterrows() %}
                                {% if e["STATUS"]  is none %}
                                    <li style="background:orange;color:red;">{{ e["NAME"] }}--{{e["STATUS"]}}--{{e["AGE"]}}--{{e["DURATION"]}}<button type="button" onclick='loadDoc("http://172.16.36.1:5555/delarg/{{ e.NAME }}{{ row.check }}", myFunction)'>arg删除</button></li>
                                {% elif "Failed" in e["STATUS"] %}
                                    <li style="background:orange;color:red;">{{ e["NAME"] }}--{{e["STATUS"]}}--{{e["AGE"]}}--{{e["DURATION"]}}<button type="button" onclick='loadDoc("http://172.16.36.1:5555/delarg/{{ e.NAME }}{{ row.check }}", myFunction)'>arg删除</button></li>
                                {% elif "Running" in e["STATUS"] %}
                                    <li style="background:orange;color:red;">{{ e["NAME"] }}--{{e["STATUS"]}}--{{e["AGE"]}}--{{e["DURATION"]}}<button type="button" onclick='loadDoc("http://172.16.36.1:5555/delarg/{{ e.NAME }}{{ row.check }}", myFunction)'>arg删除</button></li>
                                {% else %}
                                    <li>{{ e["NAME"] }}--{{e["STATUS"]}}--{{e["AGE"]}}--{{e["DURATION"]}}<button type="button" onclick='loadDoc("http://172.16.36.1:5555/delarg/{{ e.NAME }}{{ row.check }}", myFunction)'>arg删除</button></li>
                                {% endif%}
                        {% endfor %}
					</ul>
        </td>
        <td><button type="button" onclick='loadDoc("http://172.16.36.1:5555//restart/{{ row.check }}", myFunction)'>重新投递</button></td>
    </tr>
{% endfor %}
		</tbody>
	</table>

</div>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
</div>
</body>
</html>
